*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header y Barra de navegador */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8dd17f;
}

nav{
    overflow: hidden; 
    position: sticky;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    border-radius: 5px;
    margin: 5px;
}

nav li {
    justify-content: flex-end;
    float: right;
    list-style-type: none;
    border: 2px;
    margin-right: 8px;
}

nav a {
    border: hidden;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: white;
}

/* Footer */

footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    text-align: center;
    font-size: 12px;
}

/* Main */

main{
    padding: 20px;
}
.fondo{
    background-image: url('../img/AlmacenFondo.jpg');
    background-size: cover; /* La imagen cubre todo el contenedor */
    /*background-position: center; /* Centra la imagen */
}

/* Formularios */

form{
    border: solid 2px #333;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: beige;
    width: 40%;
}

form input{
    flex-basis: 80%;
}

/* Productos */

article img{ /*Limitando las dimenciones*/
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-radius: 6px;
}

.muestraProductos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.producto{
    background-color:aliceblue;
    border-radius: 8px;
    border: 2px solid #333;
    padding: 15px;
    height: 450px;
    text-align: center;
    width: 20%;
}

article p{
    margin: 6px 0;
}

.precio{
    padding: 6px 0;
}

.info, .comprar{
    text-decoration: none;
    border: 2px solid #333;
    padding: 4px;
    margin: 4px 2px;
    border-radius: 6px;
    background-color: #8dd17f;
    color: black;
    display: inline-block;
}

/* Modal Carrito*/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    border: solid black 2px;
    opacity: 0;
    pointer-events: none;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}

.modal-contenido{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
}

.modal-contenido h2{
    text-align: center;
}

.cerrar-modal{
    color: white;
    cursor: pointer;
    background-color: tomato;
    padding: 2px;
    border: 1px solid;
}


/* Responsive */

@media (max-width: 990px) {
    .mostraProductos{
        flex-direction: column;
        align-items: center;
    }

    .producto{
        width: 40%;
    }

    header{
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    .mostraProductos{
        flex-direction: column;
        align-items: center;
    }

    .producto{
        width: 80%;
    }

    .form{
        width: 80%;
    }

}